/* Whole page */
body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    /* Set the background color of the page */

}

.wholepage {
    min-height: 175vh;
}

/* nav section for style */
nav {
    /* max-height: 50px; */
    background-color: #040404;
    color: #fff;
    /* justify-content:center;
    display: flex;
    flex-direction:row;
    text-align: center; */
}

nav a {
    color: rgb(247, 245, 245);
    text-decoration: none;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    font-size: 160%;
    padding: 0%;
    display:flex;
    justify-content: center;
   
}

nav a:hover {
    color: #15cf04;
}

/* styles home page*/

.Home {
    background-image: url('https://t3.ftcdn.net/jpg/05/26/85/48/360_F_526854857_FFbu7oodabYdX5GaePaE6VrE0I5xGzYR.jpg');
    /* Path to your background image */
    background-size: cover;
    /* Cover the entire div with the background image */
    background-position: center;
    /* Center the background image */
    font-family: 'Dancing Script' cursive;
    font-size: 60px;
    text-align: center;
    /* Center the text within the div */
    padding: 100px 0;
    /* Add some padding to push the text down */
    color: #d6cccc;
    /* Set text color to white or any other suitable color */
}

.homepage {
    display: grid;
    grid-template-columns: 50% 50% 50% 50%;
  
    
}

/* Typing animation */

/* Reset default styles for the text container */
.typing-container {
      display: flex;
    justify-content: left;
    /* Align to the top of the container */
    /* align-items: center; */
    /* height: ; */
    background-color: none;
    color: #1595db;
    margin: 5px;
    padding: 0px;
}

/* Style for the text */
.typing-text {
    font-size: 2vw;
    text-align: center;
    white-space: nowrap;
    margin-top: 10px;
    /* Add space between lines */
    overflow: hidden;
}

/* Blinking cursor */
.blinking-line {
    display: inline-block;
    width: 3px;
    height: 1em;
    background-color: #66bdeb;
    animation: blinking 1s infinite;
}

/* Define the blinking animation */
@keyframes blinking {

    0%,
    49%,
    100% {
        opacity: 1;
    }

    50%,
    99% {
        opacity: 0;
    }
}

/* Game */

.Game {
    justify-content: flex-end;



  
    /* align-items: center; */
}
/* Portfolio page */

    /* Style for the popup container */

.center-button {
    /*button position - center */
    position: absolute;
    top: 22%;
    transform: translate(168%, 150%);
  
    /*button size*/
    width: 450px;
    height: 200px;
    font-size: 60px;
    background-color: red;
 

}